<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <button type="button" class="btn btn-large btn-block btn-primary" ng-click="sortBy()">Sort</button>
            <div class="page-header">
            </div>
            <div class=" col-xs-5 col-sm-5 col-md-5 col-lg-5 beer" ng-repeat="beer in beers| orderBy: sortDir">
                <div ng-hide="Editor">
                    <h4>{{beer.name}},<small> {{beer.avg}}</small></h4>
                    <h4>{{beer.style}},<small> {{beer.abv}}%</small></h4>
                    <img ng-src={{beer.image_url}}>
                    <a ui-sref="beer({id: beer._id})">Reviews</a>
                    <form ng-submit="rateBeer()">
                        <button type="button" class="btn btn-default btn-primary " ng-click="modeChange()">edit</button>
                        <button type="button" class="btn btn-warning" ng-click='removeBeer()'>Remove</button>
                        <input type="number" ng-model="userRating" min="1" max="5">
                        <button type="submit" class="btn btn-default">Rating</button>
                    </form>
                </div>
                <form ng-show="Editor" ng-submit="updatedBeer()">
                    <input type="text" class="form-control" placeholder={{beer.name}} ng-model="newName">
                    <input type="text" class="form-control" placeholder={{beer.style}} ng-model="newStyle">
                    <input type="number" class="form-control" placeholder={{beer.abv}} ng-model="newAbv">
                    <input type="text" class="form-control" placeholder="Beer's image" ng-model="newImage">
                    <button type="submit" class="btn btn-primary" ng-click=''>Submit</button>
                </form>
            </div>
            <form ng-submit="addBeer()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Beer Name" ng-model="name"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Style" ng-model="style"></input>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="ABV" ng-model="abv"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Image URL" ng-model="image"></input>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>